@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #000000;
  color: white;
}
* {
  /* outline: 1px solid red; */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide the up/down arrows for number inputs */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows {
  -moz-appearance: textfield; /* For Firefox */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pulsating-logo {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.slick-slide {
  padding: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.arrows{
height:20px;
width:20px;
margin: 1px;

}